<!DOCTYPE html>
<html ng-app='home'>
<head>
  <title>Zoolovinos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "home/nav" %>
<div ng-view><%= yield %></div>
<%= render :partial => "home/foot" %>
</body>
</html>
